# ROS2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

packages/models/
packages/src/TMP_RECORDING.mp4
packages/src/roboracer_rl/roboracer_rl/racing_gym_env.py
packages/src/roboracer_rl/roboracer_rl/racing_policy_node.py
packages/src/roboracer_rl/roboracer_rl/train_racing.py
